::selection {
  background: hsl(55, 100%, 62%);
  color: #071079;
}

:any-link {
  --resin: unset;
  background: var(--resin);
  box-shadow: 0 0 1ex 1ex thistle;
  color: inherit;
  transition: 333ms ease-out;
}

:nth-child(1n) { --resin: hsl(230, 100%, 62%) }
:nth-child(2n) { --resin: hsl(266, 100%, 66%) }
:nth-child(3n) { --resin: hsl(303, 100%, 63%) }
:only-child { --resin: hsl(120, 100%, 62%) }

.echo {
  color: transparent;
  font-weight: bold;
  text-shadow: 2.618ch 5ex 0 hsl(303, 100%, 63%);
}

:focus {
  filter: hue-rotate(-36deg);
  outline: .2ch double;
}

:active {
  filter: hue-rotate(-18deg);
}

html {
  background: hsl(55, 100%, 62%);
  color: #121113;
  transition: 333ms ease-in;
}
